* {
  box-sizing: border-box;
}

.button {
  font-size: 20px;
  padding: 10px 30px;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

table.striped thead > tr {
  color: white;
  background-color: black;
}

table.striped tbody > tr:nth-child(odd) {
  background-color: lightgrey;
}
